# floders
*.xcodeproj/

.vscode/

__pycache__/
data/models/openpose_pose/


# files
*.entitlements

*.plist

.DS_Store

settings.json

data/models/yolov3/yolov3.weights
data/models/colorization/colorization_release_v2.caffemodel